<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel administratora</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <%- include('navbar') %>
    <div class="main-content">
        <h1>Panel administratora</h1>
        <a href="http://localhost:3000/admin/orders">Wszystkie zamówienia</a>
        <a href="http://localhost:3000/admin/users">Wszyscy użytkownicy</a>
        <a href="http://localhost:3000/admin/edit">Stwórz produkt</a>
    </div>
    <footer>© 2023</footer>
</body>

</html>