<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <header class="navbar">
        <a class="header-link to-left" href="http://localhost:3000/">Strona główna</a>
        <a class="header-link to-left" href="#">Produkty</a>
        <a class="header-link to-right" href="http://localhost:3000/cart/">Koszyk</a>
        <a class="header-link to-right" href="http://localhost:3000/login/">Zaloguj się</a>
        <a class="header-link to-right" href="http://localhost:3000/my-account/">Moje konto</a>
    </header>
    <div class="main-content">
        <h1>Może Cię zainteresować:</h1>
        <%- include('product-list', locals.prods) %>
    </div>
    <footer>© 2023</footer>
</body>

</html>