<div class="prod-list">
    <% contents.forEach( item=> { %>
        <div class="prod-list-elem">
            <a href="/games/<%= item.id %>/">
                <img src="/img/<%= item.img_name %>" alt="img">
                <h3>
                    <%= item.name %>
                </h3>
                <h3>
                    <%= item.price %>PLN
                </h3>
            </a>
        </div>
        <% }) %>
</div>