<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gry</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/view-all-style.css">
</head>

<body>
    <%- include('navbar') %>
    <div class="main-content">
        <div class="shop-view">
            <div class="sv-side-panel">
                <div>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quia debitis eos qui saepe dolorem eveniet dolorum, omnis quis necessitatibus maiores numquam natus, recusandae illum minus pariatur totam atque nam.
                </div>
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, fugit repellat. Soluta debitis obcaecati eum consequuntur vero, aperiam, laboriosam velit consectetur cum fuga saepe quibusdam, sed ullam nobis dicta dolores?
                </div>
            </div>
            <div class="sv-main-panel">
                <%- include('product-list', locals.prods) %>
            </div>
        </div>
    </div>
    <footer>© 2023</footer>
</body>

</html>