<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gry</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/view-all-style.css">
</head>

<body>
    <%- include('navbar') %>
    <div class="main-content">
        <div class="shop-view">
            <!-- <div class="sv-side-panel">
            </div> -->
            <div class="sv-main-panel">
                <%- include('product-list', locals.prods) %>
            </div>
        </div>
    </div>
    <footer>© 2023</footer>
</body>

</html>