.cart-list {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.cart-list-elem a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
}

.cart-list-elem {
    background-color: antiquewhite;
    border: 3px midnightblue solid;
    width: 80%;
    height: auto;
    align-self: flex-start;
    margin: 20px;
}

.cart-list-elem img {
    height: 200px;
    width: auto;
}

.cart-list-elem h3 {
    margin-left: 20px;
}

#order {
    font-size: 1em;
    margin: 10px 30px;
}