.ord-list {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.ord-list-elem a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
}

.ord-list-elem {
    background-color: antiquewhite;
    border: 3px midnightblue solid;
    min-width: 60%;
    height: auto;
    align-self: flex-start;
    margin: 20px;
}

.ord-list-elem h3 {
    margin-left: 20px;
}