body {
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-flow: column;
    margin: auto;
    width: 100%;
    max-width: 1400px;
    height: 100vh;
}

div.main-content {
    background-color: white;
    display: flex;
    flex-flow: column;
    flex: 1;
    padding: 10px;
}

.main-content h1 {
    margin: 30px 15px;
}

.navbar {
    background-color: midnightblue;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-weight: bold;
}

.navbar div {
    margin: auto 1px;
    align-self: center;
    width: 40%;
}

.navbar #search {
    width: 400px;
}

.navbar input {
    font-size: 1em;
}

.header-link {
    color: white;
    text-decoration: none;
    margin: 20px;
}

.header-link:hover {
    color: wheat;
}

.to-left {
    float: left;
}

.to-right {
    float: right;
}

.prod-list {
    display: flex;
    flex-flow: wrap;
    width: 100%;
}

.prod-list-elem a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
}

.prod-list-elem {
    background-color: antiquewhite;
    border: 3px midnightblue solid;
    width: 500px;
    max-width: 30%;
    min-height: 500px;
    align-self: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.prod-list-elem img {
    width: 100%;
    height: auto;
}

.prod-list-elem h3 {
    margin-left: 15px;
}

#edit-form-div {
    align-self: center;
}

#edit-form-div div {
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: bold;
}

#edit-form-div #btn {
    font-size: 1em;
}

.msg {
    font-size: 1em;
    font-weight: bolder;
    color: red;
}

footer {
    background-color: midnightblue;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
}